{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div id='map' style='width: 100%; height: 500px;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamFzcGVyYmFyY2Vsb25hIiwiYSI6ImNqNmRhZHB2bTF5ZXoycXJwczB1MXdwcnoifQ.T8BQ0En7iMDzCFN0X75tGQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/dark-v9'
});
</script>

<!-- <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

<script type="text/javascript">
	var map = L.map('mapid').setView([14.1008, 121.0794], 10);
	map.createPane('labels');

	var Esri_WorldShadedRelief = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Shaded_Relief/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri',
	maxZoom: 13
}).addTo(map);

    /*var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
        attribution: '©OpenStreetMap, ©CartoDB',
        pane: 'labels'
	}).addTo(map);*/

	var CartoDB_PositronOnlyLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
	subdomains: 'abcd',
	maxZoom: 19
}).addTo(map)

	var geojson = L.geoJson(GeoJsonData, geoJsonOptions).addTo(map);

	map.getPane('labels').style.zIndex = 650;
	map.getPane('labels').style.pointerEvents = 'none';
</script> -->
{% endblock %}